<!-- {% extends 'base.html'%}

{% block content%}
<div class="container-fluid">

  <div class="row">
    <div class="col-sm-4">
      <p>"{{pitch.description}}"></p>
    </div>

    <div class="col-sm-8">
      {{format_pitch|safe}}
    </div>
  </div>
</div>


{%endblock%}

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 category-details">
    <h3>{{ pitch.category }}</h3>

    <p class="overview"> {{ category.pitch }}</p>

    <p class="ratings"> <b> {{pitch.vote_average }}</b> - <i>{{ pitch.vote_count}} votes </i> </p>
    <a class="ratings" href="/category/pitch/new/{{pitch.id}}"> Write a new pitch/a>

</div> -->